@import url("https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: "Protest Riot", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background: url("https://static.vecteezy.com/system/resources/thumbnails/006/659/644/small_2x/silhouette-lovers-kissing-romanticly-heart-shap-full-moon-and-a-star-full-of-the-sky-as-the-background-the-moon-s-reflection-is-reflected-in-the-river-romance-and-marriage-proposals-3d-rendering-free-photo.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
